@import "./normalize.css";
:root {
  --primary-color: #2b2b2d;
  --secondary-color: #666;
  --white-color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--secondary-color);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2 {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Button */
.btn {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 1rem 4vw;
  text-align: center;
  text-transform: uppercase;
}

.btn--primary {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--white-color);
  transition: all 0.3s;
}

.btn--primary:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

/* List */
.list {
  list-style-type: none;
  padding-left: 0;
}

/* Icon */
.icon {
  width: 40px;
}

/* Navbar */
.navbar {
  margin-bottom: 4rem;
}

.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.nav__brand {
  width: 150px;
}

.nav__list {
  margin: 0;
  text-align: center;
  width: 100%;
}

.nav__item {
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 2rem;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item > a {
  color: var(--primary-color);
  text-transform: capitalize;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--secondary-color);
}

.nav__toggler {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    max-height: 100%;
    opacity: 1;
    width: auto;
    display: flex;
  }

  .nav__item {
    border-bottom: none;
  }
}

/* Block */
.block {
  margin-bottom: 10rem;
  padding: 0.5rem 1rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin: 0;
}

.hero__tagline {
  letter-spacing: 1px;
}

/* Hero */
.hero {
  padding-top: 0;
  text-transform: capitalize;
}

.hero__image {
  border-radius: 2.5rem;
  box-shadow: 0 0 5px 2px var(--secondary-color);
  max-height: 98%;
  overflow: hidden;
}

.hero .icon {
  margin-right: 5px;
  position: relative;
  bottom: 0;
  transition: bottom ease 0.3s;
}

.hero .icon:hover {
  bottom: 5px;
}

.hero .hero__btn {
  margin-top: 1rem;
}

.hero .grid,
.work .grid,
.about .grid {
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Card */
.card {
  border-radius: 7px;
  box-shadow: 0 0 5px 0px var(--secondary-color);
  overflow: hidden;
}
.card__body {
  padding: 4%;
}

/* Work */
.work {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .work .block__header {
    text-align: left;
  }
}

/* About */
.about .block__heading {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about .block__header {
    text-align: left;
  }
}

/* Input */
.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.input {
  border-radius: 4rem;
  border: 1px solid var(--secondary-color);
  color: var(--primary-color);
  outline: 0;
  padding: 1.5rem 3.5rem;
  resize: none;
  width: 100%;
}

.input:focus {
  box-shadow: 0 0 1.5px 0.5px var(--secondary-color);
}

/* Contact */
.contact .block__header {
  text-transform: uppercase;
}

.form-label {
  color: var(--primary-color);
  font-weight: 700;
}

/* Footer */
.footer {
  background: var(--primary-color);
  padding: 5rem 0;
  text-align: center;
}

.footer .footer__tagline {
  color: var(--secondary-color);
  margin-bottom: 0;
}
